.Header {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.Header_container {
    padding-left: 0;
    padding-right: 0;
}

.Header_Navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0,0,0,.45);
    margin-bottom: 2rem;
}

.Header_Navbar img {
    height: 3rem;
}

.Navbar_Toggle {
    color: rgba(0, 0, 0, .75);
    border: none;
    transition: all.25s ease;
    text-shadow: 0 0 .15rem rgba(0,0,0,.15);
}

.Navs {
    /*padding: .5rem 0;*/
}

.OffCanvasBody {
    padding-left: 2rem;
}

.Navbar_Toggle:hover {
    border: none;
    box-shadow: none;
    text-shadow: 0 0 .15rem rgba(0,0,0,.35);
}

.Navbar_Toggle:focus {
    border: none;
    box-shadow: none;
    text-decoration: none;
    outline: 0;
}

.Navbar_Toggle_Info {
    border-bottom: 1px solid gray;
    width: 85%;
    margin: 0 auto;
}

.Navbar_Toggle_Info img {
    object-fit: cover;
    height: 7rem;
    width: 7rem;
    border-radius: 5%;
    margin-bottom: 1rem;
}

.Navbar_Toggle_Info div h3 {
    color: rgba(0,0,0,.55);
    text-shadow: 0 0 .15rem rgba(0,0,0,.35);
    margin: 0;
}

.Header_Navbar_Toggle_link {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgba(0,0,0,.55);
    text-shadow: 0 0 .15rem rgba(0,0,0,.25);
    transition: text-shadow .25s ease;
    cursor: pointer;
}

.Header_Navbar_Toggle_link:hover {
    color: #444444;
    text-shadow: 0 0 .15rem rgba(0,0,0,.35);
}

.Logo {
    display: inline-block;
}

.Logo img {height: 50px; width: auto}

.Login {
    font-size: 1.35rem;
    text-align: right;
}

.Login div {
    display: inline-block;
}

.Login div span {
    margin-right: 1rem;
}

.Login button {
    border: 1px solid #ccc;
    background: rgba(0,0,0,.4);
    box-shadow: 0 0 3px rgb(210, 209, 207);
    padding: 0.25rem 1rem;
    color: #fff;
    transition: background-color .25s ease;
}

.Login button:hover {
    color: #444444;
}

.OffCanvasHeader {
    padding: .5rem;
}

.Navs_bottom {
    display: none;
}

.Header_Navbar_Botom_Toggle_link {
    font-size: 1.4rem;
    margin: .5rem 0;
    color: rgba(0,0,0,.5);
    transition: color .25s ease, transform .25s ease;
}

.Header_Navbar_Botom_Toggle_link:hover {
    color: #444444;
    transform: scale(1.1);
}